@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>For the MapLibre sample <a href="~/libre.html" >click here</a>!</p>
</div>
